:root {
    --color-primary: black;
    --color-secondary: gray;
    --color-additionaly: lightgray;
    --color-link: darkblue;
    --color-hover: blue;
    --color-background: white;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary);
}

table, th, td {
    border: 1px solid black;
}

.header {
    margin: 25px;
    display: flex;
    align-items: center;
}

.header-main {
    margin-left: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main-back {
    text-decoration: none;
    color: var(--color-additionaly);
}

.group_name {
    margin: 0;
    font-size: 48px;
}

.title {
    width: auto;
    margin: 25vh auto 5vh;
    text-align: center;
    font-weight: 500;
    font-size: 96px;
}
.title--top {
    margin: 0;
    font-size: 24px;
}

.search {
    margin: 0 auto 0;
    padding-left: 83px;
    width: 50%;
    max-width: 640px;
}
.search--top {
    width: 55%;
    margin: 0 0 0 25px;
    padding-left: 0;
}

.search-form {
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

.search-form-input {
    width: 100%;
    display: block;
    font-weight: inherit;
    font-size: inherit;
    height: 40px;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    padding-left: 20px;
}
.search-form-input:hover {
    box-shadow: 0 0 2px;
}

.search-form-button {
    height: 40px;
    font-weight: inherit;
    font-size: inherit;
    border: 2px solid var(--color-primary);
    margin-left: 20px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: var(--color-additionaly);
}
.search-form-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px;
}

.groups {
    margin-left: 180px;
}

.groups-list {
    font-weight: 500;
    font-size: 18px;
}

.groups-list__item {
    font-weight: inherit;
    font-size: inherit;
    margin-top: 5px;
    color: var(--color-primary);
}

.groups-list__item-link {
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-link);
    text-decoration: none;
}

.groups-list__item-link:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

@media (max-width: 700px) {
    .header {
        margin: 15px;
    }
    .title {
        margin-top: 30vh;
        font-size: 72px;
    }
    .title--top {
        margin: 0;
        font-size: 18px;
    }
    .search {
        width: 62.5%;
    }
    .search--top {
        width: 67.5%;
        margin-left: 15px;
    }

    .groups {
        margin-left: 120px;
    }
}

@media (max-width: 555px) {
    .header {
        margin: 10px;
    }
    .title {
        margin-top: 35vh;
        font-size: 48px;
    }
    .title--top {
        margin: 0;
        font-size: 18px;
    }
    .search {
        width: 75%;
    }
    .search--top {
        width: 80%;
        margin-left: 10px;
    }

    .groups {
        margin-left: 100px;
    }
}