:root {
    --color-primary: black;
    --color-secondary: gray;
    --color-additionaly: lightgray;
    --color-link: darkblue;
    --color-hover: blue;
    --color-background: white;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-primary);
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    table-layout: fixed;
}

table td {
    width: 100%;
}

.header {
    margin: 25px;
    display: flex;
    align-items: center;
}

.header-main {
    margin-left: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main-back {
    text-decoration: none;
    color: var(--color-secondary);
}
.header-main-back:hover {
    text-decoration: underline;
}

.group_name {
    margin: 0;
    font-size: 36px;
}

.title {
    width: auto;
    margin: 25vh auto 5vh;
    text-align: center;
    font-weight: 500;
    font-size: 96px;
}
.title--top {
    margin: 0;
    font-size: 24px;
}

.search {
    margin: 0 auto 0;
    padding-left: 83px;
    width: 50%;
    max-width: 640px;
}
.search--top {
    width: 55%;
    margin: 0 0 0 25px;
    padding-left: 0;
}

.search-form {
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

.search-form-input {
    width: 100%;
    display: block;
    font-weight: inherit;
    font-size: inherit;
    height: 40px;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    padding-left: 20px;
}
.search-form-input:hover {
    box-shadow: 0 0 2px;
}

.search-form-button {
    height: 40px;
    font-weight: inherit;
    font-size: inherit;
    border: 2px solid var(--color-primary);
    margin-left: 20px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: var(--color-additionaly);
}
.search-form-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px;
}

.groups {
    margin-left: 180px;
}

.groups-list {
    font-weight: 500;
    font-size: 18px;
}

.groups-list__item {
    font-weight: inherit;
    font-size: inherit;
    margin-top: 5px;
    color: var(--color-primary);
}

.groups-list__item-link {
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-link);
    text-decoration: none;
}

.groups-list__item-link:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

.rasp {
    margin: 25px;
}

.rasp-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-primary);
    margin: 0 0 5px;
}

.rasp-table {
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 3px var(--color-primary);
}

.rasp-table-date {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    border: 2px solid var(--color-secondary);
}

.rasp-table-shedule {
    text-align: center;
    border: 1px solid var(--color-additionaly);
    border-bottom: 2px solid var(--color-secondary);
}

.rasp-table-shedule-pair, .rasp-table-day-date {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
}

.rasp-table-shedule-time, .rasp-table-day-weekdate {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-secondary);
}

.rasp-table-day {
    text-align: center;
    border: 1px solid var(--color-additionaly);
    border-right: 2px solid var(--color-secondary);
}

.rasp-table-pair {
    text-align: center;
    font-weight: 400;
    font-size: 8pt;
    border: 1px solid var(--color-additionaly);
}

.lesson_type-lecture {
    background-color: rgb(184, 255, 188);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}
.lesson_type-lab {
    background-color: rgb(184, 241, 255);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}
.lesson_type-practice {
    background-color: rgb(184, 191, 255);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px; 
}
.lesson_type-volkswagen {
    background-color: rgb(233, 184, 255);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}
.lesson_type-test {
    background-color: rgb(255, 254, 184);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}
.lesson_type-test {
    background-color: rgb(255, 254, 184);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}
.lesson_type-cons {
    background-color: rgb(255, 218, 184);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}
.lesson_type-exam {
    background-color: rgb(255, 184, 184);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}

.footer {
    position: absolute;
    bottom: 5vh;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-link);
}
.footer-link:hover {
    color: var(--color-hover);
    text-decoration: underline;
}
.footer-authors {
    color: var(--color-secondary);
    text-align: right;
}

@media (max-height: 560px) {
    .title {
        margin-top: 5vh;
    }
}

@media (max-width: 700px) {
    .header {
        margin: 15px;
    }
    .title {
        margin-top: 30vh;
        font-size: 72px;
    }
    .title--top {
        margin: 0;
        font-size: 18px;
    }
    .search {
        width: 62.5%;
    }
    .search--top {
        width: 67.5%;
        margin-left: 15px;
    }

    .groups {
        margin-left: 120px;
    }
}

@media (max-width: 555px) {
    .header {
        margin: 10px;
    }
    .title {
        margin-top: 35vh;
        font-size: 48px;
    }
    .title--top {
        margin: 0;
        font-size: 18px;
    }
    .search {
        width: 75%;
    }
    .search--top {
        width: 80%;
        margin-left: 10px;
    }

    .groups {
        margin-left: 100px;
    }
}