#Compare_list {
    width: max-content;
    height: 60px;
    padding: 20px;
}

.compared_group_elem {
    width: fit-content;
    height: 50px;
    padding: 3px;
    margin-right: 10px;
    background-color: var(--color-light);
    border: 2px solid var(--color-additionaly);
    border-radius: 8px;
    display: inline-block;
}

.compared_group_elem > div {
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-text);
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
}

.compared_group_elem > label {
    height: 50px;
    margin: 0 10px;
    font-size: 40px;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
}

#ComparePanel-table {
    margin: 30px;
    overflow: auto;
}

tr[id^="cmp_"] {
    font-size: 60px;
    cursor: pointer;
    border-bottom: 20px solid var(--color-background);
}

tr[id^="cmp_"] > td:nth-child(2) {
    padding: 0 30px;
}

#ComparePanel-add {
    margin: 30px;
    margin-bottom: 50px;
}

#ComparePanel-add input[type='text'] {
    width: 50%;
    height: 50px;
    padding-left: 5px;
    font-size: 40px;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-text);
}

#ComparePanel-add input[type='button'] {
    width: fit-content;
    height: 52px;
    padding: 0 10px;
    font-size: 40px;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    cursor: pointer;
}

#copy_compare_link {
    width: fit-content;
    height: 52px;
    padding: 0 10px;
    margin: 30px;
    font-size: 40px;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    cursor: pointer;
}

.compare_accepted {
    animation-name: anim_compare_accepted;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes anim_compare_accepted {
    from {
        border-color: #33AA66;
        color: #33AA66;
    }
    25% {
        border-color: #33AA66;
        color: #33AA66;
    }
    to {
        border-color: var(--color-text);
        color: var(--color-text);
    }
}

.compare_denied {
    animation-name: anim_compare_denied;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes anim_compare_denied {
    from {
        border-color: var(--color-error);
        color: var(--color-error);
    }
    25% {
        border-color: var(--color-error);
        color: var(--color-error);
    }
    to {
        border-color: var(--color-text);
        color: var(--color-text);
    }
}