#EventList {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 500;
}

#event_panel {
    width: calc(100% - 40px);
    padding: 20px;
}

.new_event_panel {
    position: relative !important;
    top: auto !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
}
.new_event_title {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    cursor: default;
}
.new_event_subtitle {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}
.new_event-button_back {
    font-size: 20px;
    padding: 5px;
    margin-top: 30px;
    background-color: var(--color-hover_1);
    transition: 0.25s;
}
.new_event-button_back:hover {
    background-color: var(--color-hover_2);
}

.event_panel_button {
    min-width: 100px;
    height: 44px;
    padding: 4px 8px;
    margin: 20px 10px;
    border: 1px solid var(--color-text);
    border-radius: 16px;
    background-color: var(--color-hover_1);
    font-size: 36px;
}
.event_panel_button:hover {
    background-color: var(--color-hover_2);
}

.event_panel_button-add {
    min-width: 150px;
    height: 44px;
    padding: 4px 8px;
    margin: 40px;
    border: 1px solid var(--color-text);
    border-radius: 16px;
    background-color: var(--color-hover_1);
    font-size: 36px;
}
.event_panel_button-add:hover {
    background-color: var(--color-hover_2);
}

.event_blank {
    position: relative;
    padding: 15px;
    margin: 10px;
    background-color: var(--color-light);
    border: 1px solid var(--color-halftone_text);
    border-radius: 10px;
}

.event_blank > div {
    margin-bottom: 25px;
}

.event_blank input[type='text'] {
    width: 80%;
    height: 38px;
    padding-left: 3px;
    font-size: 30px;
    vertical-align: top;
    background-color: inherit;
    border: 1px solid var(--color-halftone_text);
}
.event_blank input[type='color'] {
    width: 30%;
    height: 40px;
    vertical-align: top;
    background-color: inherit;
}

.event_blank label {
    font-size: 30px;
    line-height: 40px;
    vertical-align: middle;
}

.event_blank textarea {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 180px;
    min-height: 30px;
    padding: 5px;
    font-size: 30px;
    vertical-align: top;
    background-color: inherit;
    border: 1px solid var(--color-halftone_text);
    resize: vertical;
}

.event_blank input[type='date'] {
    height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
    background-color: inherit;
    border: 1px solid var(--color-halftone_text);
    vertical-align: middle;
} 
.event_blank select {
    height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
    background-color: inherit;
    border: 1px solid var(--color-halftone_text);
    vertical-align: middle;
}
.event_blank input[type='checkbox'] {
    width: 40px;
    height: 40px;
    background-color: inherit;
    border: 1px solid var(--color-halftone_text);
    vertical-align: middle;
}

.block_event {
    width: 100%;
}
.block_event > div {
    border-top: 1px solid var(--color-text);
    cursor: pointer;
}

#invitation_editor ul {
    font-size: 12pt;
    line-height: 15pt;
    text-align: left;
    padding-left: 20pt;
    list-style-type: disc;
    margin-bottom: 5pt;
}

#invitation_editor ul b {
    font-weight: bold;
}

#invitation_form_title {
    font-size: 36px;
}