* {
    font-family: 'Open Sans', sans-serif;
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-text);
    margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a {
    text-decoration: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.body {
    background-color: var(--color-background);
}

.switchers {
    display: flex;
}

.asidebar-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.asidebar-help {
    position: absolute;
    right: 24px;
    top: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.shifted_right {
    transform: translateX(100%);
}

#dark_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 250;
}

#setting_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--color-background);
    border-left: 2px solid var(--color-text);
    overflow: auto;
    transition: 0.25s;
    z-index: 350;
}

div[class^='switcher'] {
    width: 100%;
    padding: 20px 0;
    text-align: right;
    min-height: 72px;
    border-bottom: 3px solid var(--color-additionaly);
    vertical-align: middle;
    cursor: pointer;
    transition: 0.25s;
}
div[class^='switcher']:hover {
    background-color: var(--color-hover_1);
}

div[class^='switcher'] > label {
    width: calc(90% - 80px);
    margin-left: auto;
    vertical-align: middle;
    display: inline-block;
    font-size: 36px;
    color: var(--color-text);
    cursor: pointer;
}

div[class^='switcher'] > svg {
    vertical-align: middle;
    margin: 0 10px;
}

.switcher-info:hover .info_div {
    border-top: 1px solid var(--color-hover_2);
}

.switcher-mode:hover div[id^='theme_div-'] {
    border-top: 1px solid var(--color-hover_2);
}

#empty_favorite {
    display: inline-block;
    padding: 15%;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    color: var(--color-halftone_text);
    font-size: 40px;
}

.goto_favorite {
    text-align: center;
    width: 100%;
    min-height: 70px;
    line-height: 70px;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-additionaly);
    transition: 0.25s;
    cursor: pointer;
}
.goto_favorite:hover {
    background-color: var(--color-hover_1);
}
.goto_favorite label {
    cursor: pointer;
    font-size: 40px;
}

.goto_favorite > div[onclick^='remove'] {
    float: left;
    width: 70px;
    height: 70px;
    font-size: 70px;
    transition: 0.25s;
}
.goto_favorite > div[onclick^='remove']:hover {
    background-color: var(--color-hover_2);
}

.goto_favorite div[onclick^='go_to'] {
    display: inline-block;
    width: calc(100% - 70px);
    height: 70px;
}

div[onclick^='close'] svg {
    position: relative;
    bottom: 1px;
    right: 1px;
}


#authors {
    position: absolute;
    top: 6px;
    left: 6px;
    width: fit-content;
    height: fit-content;
}


#date_of_last_update {
    padding: 12px;
}
#date_of_last_update > p {
    color: var(--color-halftone_text);
    font-size: 30px;
}
#date_of_last_update > a {
    color: var(--color-halftone_text);
    font-size: 30px;
    text-decoration: underline;
}


#weekbar_switcher {
    position: fixed;
    top: 85px;
    left: 10px;
    background-color: var(--color-background);
    border: 1px solid var(--color-text);
    border-radius: 20px;
}

#aside_warning_list {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: transparent;
}

.aside_warning {
    margin: 10px;
    background-color: var(--color-background);
    border: 1px solid var(--color-special);
    max-width: 500px;
    min-height: 100px;
    z-index: 15;
}

.AW_header {
    background-color: var(--color-special);
    padding: 5px;
}
.AW_header h1 {
    color: var(--color-header_text);
    font-size: 34px;
    font-weight: bold;
}

.AW_content {
    padding: 5px;
}
.AW_content p {
    margin-bottom: 5px;
    font-size: 28px;
}

.AW_OK {
    padding: 5px;
    height: 48px;
}
.AW_OK button {
    width: 140px;
    height: 48px;
    transition: 0.25s;
    background-color: var(--color-hover_1);
    color: var(--color-text);
    font-size: 28px;
    float: right;
}
.AW_OK button:hover {
    background-color: var(--color-hover_2);
}