#Pre_Simple_Group_Rasp {
    width: 96%;
    margin: auto;
}

.simple_rasp-pair td {
    width: fit-content;
    height: fit-content;
}

.simple_rasp-day_start {
    border-bottom: 3px solid var(--color-text);
    color: var(--color-text);
    font-size: 26px;
}

.simple_rasp-day_start td {
    color: inherit;
    font-size: inherit;
}

.simple_rasp-pair td {
    vertical-align: top;
}

.simple_rasp-pair td:first-child {
    height: 100%;
}

.simple_rasp-pair td:first-child p {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 0;
    border: 1px solid var(--color-halftone_text);
    writing-mode: vertical-lr;
    color: var(--color-halftone_text);
}