.info_div {
    text-align: right;
    min-height: 36px;
    transition: 0.25s;
    border-top: 1px solid var(--color-hover_1);
}
.info_div:hover {
    background-color: var(--color-hover_2);
}

.info_div label {
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    margin: 0 10px;
    color: var(--color-text);
    cursor: pointer;
}


#help_list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 500;
}

#help_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 501;
}

#help_panel {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    height: 80%;
    background-color: var(--color-background);
    border: 1px solid var(--color-text);
    padding: 10px 20px;
    overflow: auto;
    z-index: 502;
}


#help_panel h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid var(--color-additionaly);
    margin-bottom: 10px;
}
#help_panel h2 {
    font-size: 15pt;
    text-align: left;
    border-bottom: 1px solid var(--color-additionaly);
    color: var(--color-link_hover);
    margin-top: 30px;
    margin-bottom: 10px;
}
#help_panel h3 {
    font-size: 12pt;
    line-height: 15pt;
    font-style: italic;
    text-align: left;
    border-left: 3px solid var(--color-special);
    background-color: var(--color-unchoiced);
    padding-left: 3px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#help_panel h4 {
    font-size: 12pt;
    font-style: italic;
    text-align: center;
    margin-bottom: 14px;
}
#help_panel p {
    font-size: 12pt;
    line-height: 15pt;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#help_panel a[onclick^='info_link'] {
    font-size: 12pt;
    text-align: left;
    color: var(--color-link);
    margin-bottom: 10px;
    padding-left: 10px;
}
#help_panel a[onclick^='info_link']:hover {
    cursor: pointer;
    color: var(--color-link_hover);
}
#help_panel ul {
    font-size: 12pt;
    line-height: 15pt;
    text-align: left;
    padding-left: 20pt;
    list-style-type: disc;
    margin-bottom: 5pt;
}
#help_panel ol {
    font-size: 12pt;
    line-height: 15pt;
    text-align: left;
    padding-left: 20pt;
    list-style-type: decimal;
    margin-bottom: 5pt;
}
#help_panel img {
    border: 1px solid var(--color-text);
    width: 100%;
    margin-bottom: 8px;
}

#help_panel div {
    width: 70%;
    font-size: 12pt;
    line-height: 18pt;
    text-align: center;
    background-color: var(--color-hover_1);
    color: var(--color-text);
    padding: 2px;
    margin: 4px 15%;
    transition: 0.25s;
    cursor: pointer;
}
#help_panel div:hover {
    background-color: var(--color-hover_2);
}
