.editbar {
    position: fixed;
    top: 75px;
    right: 15px;
    height: fit-content;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    padding: 5px;
    z-index: 3;
}
.editbar--hidden {
    display: none;
}

.editbar-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
.editbar-close:hover {
    cursor: pointer;
}

.editbar-title {
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 500;
    margin: 5px;
}

.editbar-main {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.editbar-main-menu {
    display: flex;
    flex-direction: column;
}

.editbar-main-menu__button {
    width: 100%;
    border: 1px solid var(--color-additionaly);
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: 500;
}
.editbar-main-menu__button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px;
}

.editbar-main-menu__button--disabled {
    color: var(--color-additionaly);
}

.editbar-main-choice__item {
    display: flex;
    padding: 0px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-additionaly);
}
.editbar-main-choice__item:hover {
    cursor: pointer;
    box-shadow: 0 0 2px;
}

.editbar-main-choice__item-name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-primary);
    padding: 5px;
}

.editbar_outdated {
    position: fixed;
    right: 25px;
    height: 100%;
}
