.filterbar {
    position: fixed;
    top: 75px;
    right: 400px;
    max-width: calc(100% - 425px);
    height: fit-content;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    padding: 5px;
    z-index: 3;
}

@media (max-width: 850px) {
    .filterbar {
        top: 345px;
        right: 15px;
        max-width: calc(100% - 40px);
    }
}

.filterbar-title {
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 500;
    margin: 5px;
}

.filterbar-main-choice__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filterbar-main-choice td:first-child {
    border-left: 3px solid var(--color-background);
    border-bottom: 1px solid var(--color-background);
}

.filterbar-main-choice td:first-child:hover {
    border-left: 3px solid var(--color-hover);
    background-color: var(--color-unchoiced);
}
