.footer {
    width: calc(100% - 60px);
    padding: 0 30px;
    /*background-color: var(--color-light);*/
    /*border-top: 1px solid var(--color-halftone_text);*/
    display: flex;
    justify-content: space-evenly;
    vertical-align: top;
}

.footer-list {
    margin:  20px;
    display: inline-block;
}

.footer-list > li:first-child {
    color: var(--color-text);
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
    cursor: default;
}

.footer-list > li {
    color: var(--color-halftone_text);
    margin-top: 6px;
}

.footer-link {
    cursor: pointer;
    color: var(--color-halftone_text);
}
.footer-link:hover { color: var(--color-link) }