.footer {
    position: absolute;
    bottom: 5vh;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-link);
}
.footer-link:hover {
    color: var(--color-link_hover);
    text-decoration: underline;
}
.footer-authors {
    color: var(--color-halftone_text);
    text-align: right;
}
.footer-authors-link {
    color: inherit;
}
.footer-authors-link:hover {
    color: var(--color-link_hover);
    cursor: pointer;
    text-decoration: underline;
}
