.groups {
    margin-left: 180px;
}

.groups-list {
	list-style: disc;
    font-weight: 500;
    font-size: 18px;
}

.groups-list__item {
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: inherit;
    font-size: inherit;
    margin-top: 5px;
    color: var(--color-primary);
}
.groups-list__item::marker {
    color: var(--color-link);
}
.groups-list__item-link {
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-link);
    text-decoration: none;
}

.groups-list__item-link:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

.groups-text {
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
}

.groups-text-error {
    color: var(--color-error);
}

@media (max-width: 700px) {
    .groups {
        margin-left: 120px;
    }
    .group_name {
        font-size: 24px;
    }
}
@media (max-width: 555px) {
    .groups {
        margin-left: 100px;
    }
    .group_name {
        font-size: 18px;
    }
}
