#ExportPanel {
    position: fixed;
    top: 75px;
    left: 15px;
    background-color: var(--color-background);
    border: 1px solid var(--color-text);
    border-radius: 15px;
    padding: 5px;
    z-index: 8;
}

.export_panel-title {
    font-size: 16px;
    color: var(--color-text);
    font-weight: 500;
    margin: 5px;
    cursor: default;
}

#export_panel-table {
    border: 1px solid var(--color-background);
    margin: 10px;
}

#export_panel-table > tbody > tr {
    border: 1px dashed var(--color-text);
}

#export_panel-table > tbody > tr > td {
    padding: 3px;
}

#export_panel-table > tbody > tr > td > * {
    vertical-align: middle;
    text-align: center;
}

#export_panel-table > tbody > tr > td:last-child {
    max-width: 400px;
}

#export_panel-table > tbody > tr > td > input {
    width: 20px;
    height: 20px;
}

.export_elem {
    background-color: var(--color-background);
    color: var(--color-halftone_text);
    display: inline-block;
    padding: 3px;
    margin: 1px;
    border: 1px solid var(--color-halftone_text);
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
}
.export_elem:hover {
    background-color: var(--color-hover_2);
    border: 1px solid var(--color-text);
}
.ee_selected {
    background-color: var(--color-special);
    color: var(--color-background);
    border-color: var(--color-background);
}

#export_textarea {
    padding: 5px;
    margin: 5px;
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: 100px;
    resize: vertical;
}

#ExportPanel > div > p {
    max-width: 480px;
    margin: 10px;
    color: var(--color-halftone_text);
}



#ImportPanel {
    position: fixed;
    top: 75px;
    left: 15px;
    width: 400px;
    background-color: var(--color-background);
    border: 1px solid var(--color-text);
    border-radius: 15px;
    padding: 5px;
    z-index: 8;
}

.import_panel-title {
    font-size: 16px;
    color: var(--color-text);
    font-weight: 500;
    margin: 5px;
    cursor: default;
}

#import_textarea {
    padding: 5px;
    margin: 5px;
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: 100px;
    resize: vertical;
}