#Lists {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}

.possible_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 900px;
    margin: 20px 1px;
    border-left: 3px solid var(--color-link);;
}

.possible_list__item {
    display: block;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 15px;
    background-color: var(--color-unchoiced);
    border: 0px;
    margin: 1px;
    width: calc(100% - 30px);
    transition: 0.25s;
}
.possible_list__item:hover {
    cursor: pointer;
    background-color: var(--color-hover);
    color: var(--color-background);
}
.possible_list__item--active {
    background-color: var(--color-link);
    color: var(--color-background);
    border-right: 1px solid var(--color-link);
}
