* {
    font-family: 'Open Sans', sans-serif;
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-primary);
    margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a {
    text-decoration: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.body {
    background-color: var(--color-background);
}

.switchers {
    display: flex;
}

.asidebar-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

div[class='background_of_setting_menu'] {
    position: absolute;
    top: 0px;
    right: 0px;
    width: max-content;
    background-color: var(--color-primary);
    z-index: 7;
    --svg_sz: 36px;
    clip-path: polygon( 0px var(--svg_sz),
                        calc(100% - var(--svg_sz)) var(--svg_sz),
                        calc(100% - var(--svg_sz)) 0px,
                        100% 0px,
                        100% 100%,
                        0px 100%);
}

div[class='setting_menu'] {
    --svg_sz: 36px;
    background-color: var(--color-background);
    clip-path: polygon( 1px calc(var(--svg_sz) + 1px),
                        calc(100% - var(--svg_sz) + 1px) calc(var(--svg_sz) + 1px),
                        calc(100% - var(--svg_sz) + 1px) 1px,
                        calc(100% - 1px) 1px,
                        calc(100% - 1px) calc(100% - 1px),
                        1px calc(100% - 1px));
}

div[class^='switcher'] {
    text-align: right;
    min-height: 36px;
    border-bottom: 1px solid var(--color-light);
    cursor: pointer;
}
div[class^='switcher']:hover {
    transition: 0.25s;
    background-color: var(--color-light);
}

div[class^='switcher'] label {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    margin-left: 10px;
    color: var(--color-primary);
    cursor: pointer;
}

.switcher-mode:hover div[id^='theme_div-'] {
    transition: 0.25s;
    border-top: 1px solid var(--color-additionaly);
}

#favorite_list {
    position: absolute;
    top: 6px;
    left: 6px;
}

#favorite_content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 400px;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    overflow-y: auto;
}

#empty_favorite {
    display: inline-block;
    padding: 15%;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    color: var(--color-additionaly);
    font-size: 14px;
}

.goto_favorite {
    text-align: center;
    width: 100%;
    min-height: 36px;
    line-height: 36px;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-light);
    transition: 0.25s;
    cursor: pointer;
}
.goto_favorite:hover {
    background-color: var(--color-light);
}
.goto_favorite label {
    cursor: pointer;
    font-size: 16px;
}

.goto_favorite div[onclick^='remove'] {
    float: left;
    width: 36px;
    height: 36px;
    font-size: 30px;
}
.goto_favorite div[onclick^='remove']:hover {
    transition: 0.25s;
    background-color: var(--color-additionaly);
}

.goto_favorite div[onclick^='go_to'] {
    display: inline-block;
    width: calc(100% - 36px)
}

div[onclick^='close'] svg {
    position: relative;
    bottom: 1px;
    right: 1px;
}

#date_of_last_update {
    padding: 3px;
}
#date_of_last_update p {
    color: var(--color-secondary);
    font-size: 14px;
}


#aside_warning {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    min-width: 100px;
    max-width: 400px;
    z-index: 15;
}

#AW_header {
    background-color: var(--color-link);
    padding: 5px;
}
#AW_header h1 {
    color: var(--color-background);
    font-size: 18px;
    font-weight: bold;
}

#AW_content {
    padding: 5px;
}

#AW_OK {
    padding: 5px;
    height: 28px;
}
#AW_OK button {
    width: 80px;
    height: 28px;
    background-color: var(--color-light);
    color: var(--color-primary);
    float: right;
}
#AW_OK button:hover {
    transition: 0.25s;
    background-color: var(--color-additionaly);
}
