.rasp {
    max-width: 1200px;
    padding-top: 70px;
    margin: -50px auto 0;
}

.rasp-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-primary);
    margin: 0 0 5px;
    display: inline-block;
}

.rasp-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 3px var(--color-primary);
}

.rasp-table td {
    width: 100%;
}

.rasp-table-date {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    border: 2px solid var(--color-secondary);
    vertical-align: middle;
}

.rasp-table-shedule {
    padding: 5px 0;
    text-align: center;
    border: 1px solid var(--color-additionaly);
    border-bottom: 2px solid var(--color-secondary);
}

.rasp-table-shedule-pair, .rasp-table-day-date {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
}

.rasp-table-shedule-time, .rasp-table-day-weekdate {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-secondary);
    margin-top: 5px;
}

.rasp-table-day {
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--color-additionaly);
    border-right: 2px solid var(--color-secondary);
}

.rasp-table-pair {
    text-align: center;
    font-weight: 400;
    font-size: 8pt;
    line-height: 140%;
    border: 1px solid var(--color-additionaly);
    vertical-align: top;
}
@media (max-width: 1550px) {
    .rasp {
        margin: -50px 25px 0;
    }
}



.Printable_rasp {
    width:  calc(297mm - 2 * var(--table-side_padding));
    height: calc(210mm - var(--table-top_padding) - var(--table-bottom_padding));
    padding-right: var(--table-side_padding);
    padding-left: var(--table-side_padding);
    padding-top: var(--table-top_padding);
    padding-bottom: var(--table-bottom_padding);
    border-bottom: 1px dashed var(--color-primary);
}

.Printable_rasp table {
    width: 100%;
    height: calc(100% - 30px);
}

.Printable_rasp tr:first-child {
    height: 30px;
}

#print_panel {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 225px;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
}

#PP_content {
    padding: 5px;
}

#PP_content p {
    border-top: 1px dashed #888888;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #888888;
}

.padding_setters {
    width: 100%;
}

input[id$='padding_setter-range'] {
    display: inline-block;
    width: 75%;
    height: 24px;
    vertical-align: bottom;
}

input[id$='padding_setter-input'] {
    display: inline-block;
    width: 20%;
    height: 24px;
    vertical-align: bottom;
    background-color: var(--color-background);
}

.PP_subcontent {
    margin: 8px 0px;
}

.PP_subcontent label {
    font-size: 16px;
    line-height: 18px;
    vertical-align: bottom;
}

.PP_subcontent input[type='checkbox'] {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

.rasp-group {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-primary);
    margin: 0 0 5px;
    display: block;
    float: right;
}

.rasp-group--hidden {
    display: none;
}

@media print {
    #print_panel {
        display:none;
    }
    .Printable_rasp {
        padding-bottom: 0px;
        margin-bottom: var(--table-bottom_padding);
        border: 0px;
    }
}
