* {
    font-family: 'Open Sans', sans-serif;
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-primary);
    margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    table-layout: fixed;
}

table td {
    width: 100%;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.body {
    background-color: var(--color-background);
}

.mode-switcher {
    position: absolute;
    top: 6px;
    right: 6px;
}
.header-main-right .mode-switcher {
    position: unset;
}
.mode-switcher svg {
    fill: var(--color-primary);
}
.mode-switcher:hover {
    cursor: pointer;
}
.mode-switcher:hover svg {
    fill: var(--color-secondary);
}

.header {
    margin: 25px;
    display: flex;
    align-items: center;
}

.header-main {
    margin-left: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-main-back {
    text-decoration: none;
    color: var(--color-secondary);
}
.header-main-back:hover {
    text-decoration: underline;
}

.header--rasp {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-primary);
    top: 0;
    position: fixed;
    width: calc(100% - 50px);
    padding: 0 25px;
    margin: 0;
}

.group_name {
    margin: 0;
    font-size: 36px;
}

.title {
    width: auto;
    margin: 25vh auto 5vh;
    text-align: center;
    font-weight: 500;
    font-size: 96px;
}
.title--top {
    margin: 0;
    font-size: 24px;
}
.header--rasp .title {
    font-size: 20px;
}

.search {
    margin: 0 auto 0;
    padding-left: 83px;
    width: 50%;
    max-width: 640px;
}
.search--top {
    width: 55%;
    margin: 0 0 0 25px;
    padding-left: 0;
}

.search-form {
    display: flex;
    font-weight: 500;
    font-size: 16px;
}

.search-form-icon {
    position: relative;
    left: 28px;
    top: 9px;
    fill: var(--color-secondary);
}
.search--top .search-form-icon{
    left: -28px;
    top: 9px;
}

.search-form-input {
    width: 100%;
    display: block;
    font-weight: inherit;
    font-size: inherit;
    height: 40px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-background);
    border-radius: 20px;
    padding-left: 30px;
}
.search--top .search-form-input {
    padding-left: 20px;
}
.search-form-input:hover {
    box-shadow: 0 0 2px var(--color-primary);
}

.search-form-button {
    height: 40px;
    font-weight: inherit;
    font-size: inherit;
    border: 2px solid var(--color-primary);
    margin-left: 20px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: var(--color-additionaly);
}
.search-form-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px;
    background-color: var(--color-secondary);
}

.groups {
    margin-left: 180px;
}

.groups-list {
    font-weight: 500;
    font-size: 18px;
}

.groups-list__item {
    font-weight: inherit;
    font-size: inherit;
    margin-top: 5px;
    color: var(--color-primary);
}

.groups-list__item-link {
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-link);
    text-decoration: none;
}

.groups-list__item-link:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

.groups-text {
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
}

.groups-text-error {
    color: var(--color-error);
}

.rasp {
    max-width: 1200px;
    padding-top: 70px;
    margin: -50px auto 0;
}

.rasp-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-primary);
    margin: 0 0 5px;
}

.rasp-table {
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 3px var(--color-primary);
}

.rasp-table-date {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    border: 2px solid var(--color-secondary);
}

.rasp-table-shedule {
    text-align: center;
    border: 1px solid var(--color-additionaly);
    border-bottom: 2px solid var(--color-secondary);
}

.rasp-table-shedule-pair, .rasp-table-day-date {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
}

.rasp-table-shedule-time, .rasp-table-day-weekdate {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-secondary);
}

.rasp-table-day {
    text-align: center;
    border: 1px solid var(--color-additionaly);
    border-right: 2px solid var(--color-secondary);
}

.rasp-table-pair {
    text-align: center;
    font-weight: 400;
    font-size: 8pt;
    border: 1px solid var(--color-additionaly);
}

div[class^="lesson_type"] {
    border: 1px solid var(--color-additionaly);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}

div[class^="room"] {
    border: 1px solid var(--color-additionaly);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 0 3px;
}

.search-showall {
    float: right;
    display: block;
    margin-top: 10px;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-link);
}
.search-showall:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 5vh;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-link);
}
.footer-link:hover {
    color: var(--color-hover);
    text-decoration: underline;
}
.footer-authors {
    color: var(--color-secondary);
    text-align: right;
}
.footer-authors-link {
    color: inherit;
}
.footer-authors-link:hover {
    color: var(--color-additionaly);
    cursor: pointer;
    text-decoration: underline;
}

.rpage {
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly
}

.editbar {
    position: fixed;
    right: 25px;
    height: 100%;
}

.weekbar {
    position: fixed;
    left: 25px;
    height: 100%;
}

.weekbar-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
}
.weekbar-list__item {
    display: block;
    margin: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-link);
}
.weekbar-list__item:hover {
    color: var(--color-hover);
    cursor: pointer;
    text-decoration: underline;
}

#Lists {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}

.possible_list {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 900px;
    margin: 20px 0;
}

.possible_list__item {
    display: block;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 15px;
    background-color: var(--color-unchoiced);
    border: solid 1px var(--color-additionaly);
    width: calc(100% - 30px);
}
.possible_list__item--active {
    background-color: var(--color-link);
    color: var(--color-background);
}
.possible_list__item:hover {
    cursor: pointer;
    background-color: var(--color-hover);
    color: var(--color-background);
}

@media (max-height: 560px) {
    .title {
        margin-top: 5vh;
    }
}
@media (max-width: 1550px) {
    .weekbar {
        display: none;
    }
    .editbar {
        display: none;
    }
    .rasp {
        margin: -50px 25px 0;
    }
}

@media (max-width: 700px) {
    .header {
        margin: 15px;
    }
    .header--rasp {
        margin: 0;
        padding: 0 10px;
    }
    .title {
        margin-top: 30vh;
        font-size: 72px;
    }
    .title--top {
        margin: 0;
        font-size: 18px;
    }
    .search {
        width: 62.5%;
    }
    .search--top {
        width: 67.5%;
        margin-left: 15px;
    }

    .groups {
        margin-left: 120px;
    }

    .group_name {
        font-size: 24px;
    }
}

@media (max-width: 555px) {
    .header {
        margin: 10px;
    }
    .header--rasp {
        margin: 0;
        padding: 0 5px;
    }
    .title {
        margin-top: 35vh;
        font-size: 48px;
    }
    .title--top {
        margin: 0;
        font-size: 18px;
    }
    .search {
        width: 75%;
    }
    .search--top {
        width: 80%;
        margin-left: 10px;
    }

    .groups {
        margin-left: 100px;
    }

    .group_name {
        font-size: 18px;
    }
}