.switcher-weekbar {
    position: fixed;
    background-color: var(--color-background);
    left: 5px;
    top: 60px;
    border-radius: 10px;
}

.weekbar {
    position: fixed;
    top: 105px;
    left: 15px;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-background);
    border: 1px solid var(--color-text);
    border-radius: 15px;
    padding: 5px;
    z-index: 3;
}

.weekbar-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-text);
}
.weekbar-list__item {
    display: block;
    margin: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--color-link);
}
.weekbar-list__item:hover {
    color: var(--color-link_hover);
    cursor: pointer;
    text-decoration: underline;
}



#week_cal {
    margin: 10px;
    border: 2px solid var(--color-text);
}

#week_cal caption {
    margin-bottom: 5px;
}

#week_cal td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--color-text);
    transition: 0.25s;
}

#week_cal td:first-child {
    width: 30px;
    border-right: 2px solid var(--color-text);
}


#week_cal thead {
    background-color: var(--color-special);
}
#week_cal thead label {
    font-weight: 500;
    font-size: 130%;
    color: var(--color-header_text);
}


#week_cal tbody {
    border: 2px solid var(--color-text);
}

#week_cal tbody td[this_week] {
    background-color: var(--color-light);
}
#week_cal tbody td[active] {
    font-size: 130%;
    color: var(--color-header_text);
    background-color: var(--color-special_hover);
}

#week_cal tbody td:hover {
    color: var(--color-header_text);
    background-color: var(--color-special);
}


#week_cal tfoot td {
    position: relative;
    height: 15px;
    font-size: 15px;
    border: none;
}


#Weekbar > label {
    margin: 10px;
    margin-right: 0px;
    font-size: 14px;
    color: var(--color-halftone_text);
}
#Weekbar > select {
    font-size: 14px;
    color: var(--color-halftone_text);
    background-color: var(--color-background);
}


.temporary_highlighted {
    animation-name: anim_temporary_highlighted;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes anim_temporary_highlighted {
    from {background-color: var(--color-special);}
    25% {background-color: var(--color-special);}
    to {background-color: var(--color-background);}
}

